name: Test Workflow Dispatch

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Name to greet'
        required: false
        default: 'World'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Greet
        run: echo "Hello, ${{ github.event.inputs.name }}!"